.card {
  list-style-type: none;
  color: #000;
  background-color: #fff;
  width: 282px;
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card__image {
  width: 282px;
  height: 282px;
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
}

.card__delete {
  background: transparent center no-repeat;
  background-image: url(../images/Trash.svg);
  width: 18px;
  height: 19px;
  position: absolute;
  top: 20px;
  right: 15px;
  border-style: none;
  cursor: pointer;
}

.card__delete:hover {
  opacity: 60%;
}

.card__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 20px;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 900;
  line-height: 29px;
}

.card__title {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 219px;
}

.card__like-button {
  background: transparent center no-repeat;
  background-image: url("../images/likebutton.svg");
  width: 21px;
  height: 18px;
  border-style: none;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 50%;
}

.card__like-button_active {
  background-image: url("../images/likebutton-active.svg");
}
