.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.profile__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin-right: 24px;
}

.profile__info {
  display: grid;
  grid-gap: auto;
  grid-template-areas:
    "name button"
    "description description";
  grid-template-columns: minmax(auto, 1fr) auto;
}

.profile__name {
  font-family: "Inter", Arial, sans-serif;
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  grid-area: "name";
  margin: 0;
}

.profile__edit-button {
  background: transparent center no-repeat;
  background-image: url("../images/editbutton.svg");
  width: 24px;
  height: 24px;
  grid-area: "button";
  align-self: center;
  margin-left: 18px;
}

.profile__edit-button:hover {
  opacity: 70%;
}

.profile__description {
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  margin: 0;

  grid-area: "description";
}

.profile__add-button {
  background: transparent center no-repeat;
  background-image: url("../images/addbutton.svg");
  margin-left: auto;
  width: 150px;
  height: 50px;
}

.profile__add-button:hover {
  opacity: 70%;
}

@media screen and (max-width: 768px) and (min-width: 320px) {
  .profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .profile__image {
    margin: auto;
  }

  .profile__name {
    font-size: 22px;
    line-height: 26.63px;
    text-align: center;
    padding-top: 26px;
  }

  .profile__add-button {
    width: 282px;
    height: 50px;
    margin: auto;
    position: relative;
  }
}
