.page {
  background-color: #000;
  color: #fff;
  margin: 0;
  display: flex;
  justify-content: center;
}

.page__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.page__section {
  width: 100%;
  max-width: 880px;
  position: relative;
  font-family: "Inter", sans-serif;
}

@media screen and (max-width: 1100px) and (min-width: 350px) {
  .page__section {
    margin: 0 20px;
    max-width: calc(100% - 40px);
  }
}
