.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 20px;
  color: black;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.2s, opacity 0.2s linear;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.popup__container {
  background-color: #fff;
  margin: auto;
  border-radius: 10px;
  padding: 36px;
  position: relative;
  width: 430px;
  max-height: 330px;
  display: flex;
  flex-direction: column;
}

.popup__close {
  background-image: url("../images/Close\ Icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  border: none;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  width: 28px;
  height: 28px;
  padding: 0;
  cursor: pointer;
  transition: opacity linear 0.2s 0.1s;
}

.popup__close:hover {
  opacity: 60%;
}

.popup__heading {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0 0 30px 0;
}

.popup__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: fit-content;
}

.popup__label {
  display: flex;
  flex-direction: column;
}
.popup__input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  padding: 13px 0;
  margin-bottom: 5px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}

.popup__input_type_error {
  border-bottom: 1px solid red;
}

.popup__save {
  border-radius: 2px;
  border: none;
  background-color: #000;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 19px;
  margin: 30px 0 0 0;
  width: 100%;
  align-self: flex-end;
  cursor: pointer;
  transition: opacity linear 0.2s 0.1s;
}

.popup__save_disabled {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #fff;
  color: rgba(0, 0, 0, 0.2);
  cursor: default;
}

.popup__save:hover {
  opacity: 80%;
}

.popup__error {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  min-height: 12px;
  color: #ff0000;
  align-self: flex-start;
  visibility: hidden;
}

.popup__error_visible {
  visibility: visible;
}

@media screen and (max-width: 621px) {
  .popup__container {
    width: 282px;
    max-height: 322px;
    padding: 25px 22px;
  }
  .popup__close {
    width: 18px;
    height: 18px;
    bottom: calc(100% + 20px);
    left: calc(100% - 20px);
  }
  .popup__heading {
    font-size: 18px;
    line-height: 22px;
  }
  .popup__form {
    margin: 0;
  }

  .popup__save {
    font-size: 14px;
    line-height: 17px;
  }
}

.popup__preview {
  margin: auto;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
}

.popup__full-photo {
  max-width: 75vw;
  max-height: 75vh;
}

.popup__title {
  position: absolute;
  margin: 0;
  top: calc(100% + 10px);
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}
