@import url("se_project_aroundtheus\vendor\normalize.css");
@import url("se_project_aroundtheus\vendor\fonts.css");

.page {
  background-color: #000;
  color: #fff;
  margin: 0;
  display: flex;
  justify-content: center;
}

.page__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  max-width: 880px;
  width: 100%;
}

@media screen and (max-width: 1100px) {
  .page__content {
    margin: 0 20px;
    max-width: calc(100% - 40px);
  }
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom: solid #545454 1px;
}

.header__logo {
  max-width: 173px;
  max-height: 33px;
  margin-top: 45px;
  margin-bottom: 40px;
}

.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 50px;
}

.profile__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin-right: 24px;
}

.profile__info {
  display: grid;
  grid-gap: auto;
  grid-template-areas:
    "name button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
}

.profile__name {
  font-family: "Inter", Arial, sans-serif;
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  grid-area: "name";
  margin: 0;
}

.profile__edit-button {
  background: transparent center no-repeat;
  background-image: url("../images/editbutton.svg");
  width: 24px;
  height: 24px;
  grid-area: "button";
  align-self: center;
  margin-left: 18px;
}

.profile__description {
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  margin: 0;
  text-align: left;
  grid-area: "description";
}

.profile__add-button {
  background: transparent center no-repeat;
  background-image: url("../images/addbutton.svg");
  margin-left: auto;
  /* margin-right: auto; */
  width: 150px;
  height: 50px;
}

.gallery {
  margin: 0;
}

.gallery__cards {
  display: grid;
  justify-content: center;
  padding: 0;
  margin: 0;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
}

.card {
  list-style-type: none;
  color: #000;
  background-color: #fff;
  width: 282px;
  height: 361px;
  border-radius: 3%;
  display: flex;
  flex-direction: column;
}

.card__image {
  width: 282px;
  height: 282px;
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
}

.card__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 1rem;
  line-height: 2rem;
  letter-spacing: 0em;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__title {
  margin: 0;
}

.card__like-button {
  background: transparent center no-repeat;
  background-image: url("../images/likebutton.svg");
  width: 21px;
  height: 18px;
  border-style: none;
}
